.archive
.cache
.snapshots


# SCRIPTS
# ======= #
.scripts/.logs
.scripts/logs


# RELEASES
# ======== #
@releases/**/*
!@releases/**/*.zip


# DIST
# ==== #
dist/**/*.css.map
dist/**/*.js.map
dist/**/*.ts.map
dist/**/*.test.d.ts
dist/**/*.test.js
dist/docs/javascript.TypeDoc.json


# DEMOS
# ===== #
demos/*/@releases
demos/*/.snapshots
demos/*/dist
demos/*/CHANGELOG.md
demos/*/package-lock.json
demos/*/README.md


# DOCS
# ==== #


# SRC
# === #
src/ts/lib/@internal/githubSearchLink.ts


# ROOT
# ==== #
.gitcommit.md
.releasenotes.md
TODO


# MISC
# ==== #
._*
.DS_Store
.smbdelete**

node_modules/
