name: Publish Package to GitHub & NPM

on:
  workflow_dispatch: # allows running from the Actions tab
  release:
    types: [published]

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@maddimathon'
      - run: npm ci
      - run: npm publish --access public
